AddDefaultCharset UTF-8	

	 <IfModule mod_rewrite.c>
  
     Options +FollowSymlinks
     Options -Indexes
  

     RewriteEngine On


     RewriteBase /  
	
RewriteRule ^inicio$ ./index.php
RewriteRule ^busca/(.*)$ ./propiedades.php?filters=$1
RewriteRule ^buscar/(.*)$ ./busquedaFiltros.php?filters=$1
RewriteRule ^planes-venta$ ./planesVenta.php
RewriteRule ^login$ ./autenticacion.php
RewriteRule ^busqueda-mapa$ ./buscarMapa.php
RewriteRule ^Mi-cuenta$ ./cuenta.php
RewriteRule ^inmobiliarias$ ./buscarInmobiliaria.php
RewriteRule ^publicar$ ./planes.php
RewriteRule ^proyectos-nuevos ./propiedades.php?para=1
RewriteRule ^proyectos-en-planos ./propiedades.php?para=2
RewriteRule ^registrar-inmueble$ ./registroNuevo.php
RewriteRule ^registrarse$ ./registroNuevo.php
RewriteRule ^recuperar-contraseña$ ./recordarClave.php
RewriteRule ^noticias$ ./noticias.php
RewriteRule ^decoracion$ ./decoracionNot.php
RewriteRule ^alquileres$ ./alquileres.php
RewriteRule ^decoracion$ ./decoracionNot.php
RewriteRule ^guia-turismo$ ./guiaTurismo.php
RewriteRule ^decoracion$ ./decoracionNot.php
RewriteRule ^hoteles$ ./hoteles.php
RewriteRule ^arriendos$ ./propiedades.php?para=2
RewriteRule ^inmuebles-a-la-venta$ ./propiedades.php?para=1
RewriteRule ^inmuebles-para-arriendo$ ./propiedades.php?para=2
RewriteRule ^proyectos-en-construccion$ ./propiedades.php?tipoporye=1
RewriteRule ^proyectos-sobre-planos$ ./propiedades.php?tipoporye=2
RewriteRule ^decoracion$ ./decoracionNot.php
RewriteRule ^faq$ ./faqs.php
RewriteRule ^terminos-y-condiciones$ ./terminosycondiciones.pdf
RewriteRule ^manual$ ./manualIAV.pdf 
RewriteRule ^precios$ ./planes.php
RewriteRule ^short/get/(.*)$ ./app_shorts/main.php?GET=$1
RewriteRule ^short/post/(.*)$ ./app_shorts/main.php?id=$1&token=f65b59d7bc164a784aca8a234b846c56
RewriteRule ^constructoras$ ./buscarConstructora.php 
RewriteRule ^inmueble/([a-zA-Z0-9-_])$ ./_inmueble.php?cod=$1
RewriteRule ^inmuebl/s/(.*)$ ./_inmueble.php?cod=$1
RewriteRule ^inmueble/$/(.*)$ ./_inmueble.php?cod=$1
RewriteRule ^planes-alquiler$ ./planesAlquiler.php
RewriteRule ^lo-mas-leido/(.*)/(.*)/(.*)$ ./propiedades.php?para=$1&tipoInmueble=$2&ciudad=$3
RewriteRule ^orden/(.*)/(.*)/(.*)/(.*)/(.*)$ ./propiedades.php?para=$1&tipoInmueble=$2&ciudad=$3&area=$4&orden=$5
RewriteRule ^resultado-inmobiliaria/(.*)$ ./_resultado_inmoviliaria.php?cod=$1
RewriteRule ^filtrar-inmobiliaria/(.*)$   ./_resultado_inmoviliaria.php?filters=$1
#RewriteCond %{SCRIPT_FILENAME} !-d

#RewriteCond %{SCRIPT_FILENAME} !-f

#RewriteRule ^detalle_inmueble/(\d+)*$ ./inmmueble.php?cod=$1

RewriteRule ^s/([a-z0-9-_])$ ./redirect.php?to=$1



  
RewriteRule ^arriendos-el-encanto$ ./propiedades.php?para=2&tipoInmueble=&ciudad=1
RewriteRule ^ventas-el-encanto$ ./propiedades.php?para=1&tipoInmueble=&ciudad=1
RewriteRule ^bodega-arriendo-el-encanto$ ./propiedades.php?para=2&tipoInmueble=5&ciudad=1
RewriteRule ^bodega-venta-el-encanto$ ./propiedades.php?para=1&tipoInmueble=5&ciudad=1
RewriteRule ^oficina-arriendo-el-encanto$ ./propiedades.php?para=2&tipoInmueble=4&ciudad=1
RewriteRule ^oficina-venta-el-encanto$ ./propiedades.php?para=1&tipoInmueble=4&ciudad=1
RewriteRule ^consultorio-arriendo-el-encanto$ ./propiedades.php?para=2&tipoInmueble=8&ciudad=1
RewriteRule ^consultorio-venta-el-encanto$ ./propiedades.php?para=1&tipoInmueble=8&ciudad=1
RewriteRule ^local-arriendo-el-encanto$ ./propiedades.php?para=2&tipoInmueble=3&ciudad=1
RewriteRule ^local-venta-el-encanto$ ./propiedades.php?para=1&tipoInmueble=3&ciudad=1
RewriteRule ^lote-arriendo-el-encanto$ ./propiedades.php?para=2&tipoInmueble=6&ciudad=1
RewriteRule ^lote-venta-el-encanto$ ./propiedades.php?para=1&tipoInmueble=6&ciudad=1
RewriteRule ^casa-arriendo-el-encanto$ ./propiedades.php?para=2&tipoInmueble=2&ciudad=1
RewriteRule ^casa-venta-el-encanto$ ./propiedades.php?para=1&tipoInmueble=2&ciudad=1
RewriteRule ^apartamento-arriendo-el-encanto$ ./propiedades.php?para=2&tipoInmueble=1&ciudad=1
RewriteRule ^apartamento-venta-el-encanto$ ./propiedades.php?para=1&tipoInmueble=1&ciudad=1
RewriteRule ^finca-arriendo-el-encanto$ ./propiedades.php?para=2&tipoInmueble=7&ciudad=1
RewriteRule ^finca-venta-el-encanto$ ./propiedades.php?para=1&tipoInmueble=7&ciudad=1
RewriteRule ^arriendos-puerto-santander$ ./propiedades.php?para=2&tipoInmueble=&ciudad=10
RewriteRule ^ventas-puerto-santander$ ./propiedades.php?para=1&tipoInmueble=&ciudad=10
RewriteRule ^bodega-arriendo-puerto-santander$ ./propiedades.php?para=2&tipoInmueble=5&ciudad=10
RewriteRule ^bodega-venta-puerto-santander$ ./propiedades.php?para=1&tipoInmueble=5&ciudad=10
RewriteRule ^oficina-arriendo-puerto-santander$ ./propiedades.php?para=2&tipoInmueble=4&ciudad=10
RewriteRule ^oficina-venta-puerto-santander$ ./propiedades.php?para=1&tipoInmueble=4&ciudad=10
RewriteRule ^consultorio-arriendo-puerto-santander$ ./propiedades.php?para=2&tipoInmueble=8&ciudad=10
RewriteRule ^consultorio-venta-puerto-santander$ ./propiedades.php?para=1&tipoInmueble=8&ciudad=10
RewriteRule ^local-arriendo-puerto-santander$ ./propiedades.php?para=2&tipoInmueble=3&ciudad=10
RewriteRule ^local-venta-puerto-santander$ ./propiedades.php?para=1&tipoInmueble=3&ciudad=10
RewriteRule ^lote-arriendo-puerto-santander$ ./propiedades.php?para=2&tipoInmueble=6&ciudad=10
RewriteRule ^lote-venta-puerto-santander$ ./propiedades.php?para=1&tipoInmueble=6&ciudad=10
RewriteRule ^casa-arriendo-puerto-santander$ ./propiedades.php?para=2&tipoInmueble=2&ciudad=10
RewriteRule ^casa-venta-puerto-santander$ ./propiedades.php?para=1&tipoInmueble=2&ciudad=10
RewriteRule ^apartamento-arriendo-puerto-santander$ ./propiedades.php?para=2&tipoInmueble=1&ciudad=10
RewriteRule ^apartamento-venta-puerto-santander$ ./propiedades.php?para=1&tipoInmueble=1&ciudad=10
RewriteRule ^finca-arriendo-puerto-santander$ ./propiedades.php?para=2&tipoInmueble=7&ciudad=10
RewriteRule ^finca-venta-puerto-santander$ ./propiedades.php?para=1&tipoInmueble=7&ciudad=10
RewriteRule ^arriendos-san-andres-de-cuerquia$ ./propiedades.php?para=2&tipoInmueble=&ciudad=100
RewriteRule ^ventas-san-andres-de-cuerquia$ ./propiedades.php?para=1&tipoInmueble=&ciudad=100
RewriteRule ^bodega-arriendo-san-andres-de-cuerquia$ ./propiedades.php?para=2&tipoInmueble=5&ciudad=100
RewriteRule ^bodega-venta-san-andres-de-cuerquia$ ./propiedades.php?para=1&tipoInmueble=5&ciudad=100
RewriteRule ^oficina-arriendo-san-andres-de-cuerquia$ ./propiedades.php?para=2&tipoInmueble=4&ciudad=100
RewriteRule ^oficina-venta-san-andres-de-cuerquia$ ./propiedades.php?para=1&tipoInmueble=4&ciudad=100
RewriteRule ^consultorio-arriendo-san-andres-de-cuerquia$ ./propiedades.php?para=2&tipoInmueble=8&ciudad=100
RewriteRule ^consultorio-venta-san-andres-de-cuerquia$ ./propiedades.php?para=1&tipoInmueble=8&ciudad=100
RewriteRule ^local-arriendo-san-andres-de-cuerquia$ ./propiedades.php?para=2&tipoInmueble=3&ciudad=100
RewriteRule ^local-venta-san-andres-de-cuerquia$ ./propiedades.php?para=1&tipoInmueble=3&ciudad=100
RewriteRule ^lote-arriendo-san-andres-de-cuerquia$ ./propiedades.php?para=2&tipoInmueble=6&ciudad=100
RewriteRule ^lote-venta-san-andres-de-cuerquia$ ./propiedades.php?para=1&tipoInmueble=6&ciudad=100
RewriteRule ^casa-arriendo-san-andres-de-cuerquia$ ./propiedades.php?para=2&tipoInmueble=2&ciudad=100
RewriteRule ^casa-venta-san-andres-de-cuerquia$ ./propiedades.php?para=1&tipoInmueble=2&ciudad=100
RewriteRule ^apartamento-arriendo-san-andres-de-cuerquia$ ./propiedades.php?para=2&tipoInmueble=1&ciudad=100
RewriteRule ^apartamento-venta-san-andres-de-cuerquia$ ./propiedades.php?para=1&tipoInmueble=1&ciudad=100
RewriteRule ^finca-arriendo-san-andres-de-cuerquia$ ./propiedades.php?para=2&tipoInmueble=7&ciudad=100
RewriteRule ^finca-venta-san-andres-de-cuerquia$ ./propiedades.php?para=1&tipoInmueble=7&ciudad=100
RewriteRule ^arriendos-los-palmitos$ ./propiedades.php?para=2&tipoInmueble=&ciudad=1000
RewriteRule ^ventas-los-palmitos$ ./propiedades.php?para=1&tipoInmueble=&ciudad=1000
RewriteRule ^bodega-arriendo-los-palmitos$ ./propiedades.php?para=2&tipoInmueble=5&ciudad=1000
RewriteRule ^bodega-venta-los-palmitos$ ./propiedades.php?para=1&tipoInmueble=5&ciudad=1000
RewriteRule ^oficina-arriendo-los-palmitos$ ./propiedades.php?para=2&tipoInmueble=4&ciudad=1000
RewriteRule ^oficina-venta-los-palmitos$ ./propiedades.php?para=1&tipoInmueble=4&ciudad=1000
RewriteRule ^consultorio-arriendo-los-palmitos$ ./propiedades.php?para=2&tipoInmueble=8&ciudad=1000
RewriteRule ^consultorio-venta-los-palmitos$ ./propiedades.php?para=1&tipoInmueble=8&ciudad=1000
RewriteRule ^local-arriendo-los-palmitos$ ./propiedades.php?para=2&tipoInmueble=3&ciudad=1000
RewriteRule ^local-venta-los-palmitos$ ./propiedades.php?para=1&tipoInmueble=3&ciudad=1000
RewriteRule ^lote-arriendo-los-palmitos$ ./propiedades.php?para=2&tipoInmueble=6&ciudad=1000
RewriteRule ^lote-venta-los-palmitos$ ./propiedades.php?para=1&tipoInmueble=6&ciudad=1000
RewriteRule ^casa-arriendo-los-palmitos$ ./propiedades.php?para=2&tipoInmueble=2&ciudad=1000
RewriteRule ^casa-venta-los-palmitos$ ./propiedades.php?para=1&tipoInmueble=2&ciudad=1000
RewriteRule ^apartamento-arriendo-los-palmitos$ ./propiedades.php?para=2&tipoInmueble=1&ciudad=1000
RewriteRule ^apartamento-venta-los-palmitos$ ./propiedades.php?para=1&tipoInmueble=1&ciudad=1000
RewriteRule ^finca-arriendo-los-palmitos$ ./propiedades.php?para=2&tipoInmueble=7&ciudad=1000
RewriteRule ^finca-venta-los-palmitos$ ./propiedades.php?para=1&tipoInmueble=7&ciudad=1000
RewriteRule ^arriendos-majagual$ ./propiedades.php?para=2&tipoInmueble=&ciudad=1001
RewriteRule ^ventas-majagual$ ./propiedades.php?para=1&tipoInmueble=&ciudad=1001
RewriteRule ^bodega-arriendo-majagual$ ./propiedades.php?para=2&tipoInmueble=5&ciudad=1001
RewriteRule ^bodega-venta-majagual$ ./propiedades.php?para=1&tipoInmueble=5&ciudad=1001
RewriteRule ^oficina-arriendo-majagual$ ./propiedades.php?para=2&tipoInmueble=4&ciudad=1001
RewriteRule ^oficina-venta-majagual$ ./propiedades.php?para=1&tipoInmueble=4&ciudad=1001
RewriteRule ^consultorio-arriendo-majagual$ ./propiedades.php?para=2&tipoInmueble=8&ciudad=1001
RewriteRule ^consultorio-venta-majagual$ ./propiedades.php?para=1&tipoInmueble=8&ciudad=1001
RewriteRule ^local-arriendo-majagual$ ./propiedades.php?para=2&tipoInmueble=3&ciudad=1001
RewriteRule ^local-venta-majagual$ ./propiedades.php?para=1&tipoInmueble=3&ciudad=1001
RewriteRule ^lote-arriendo-majagual$ ./propiedades.php?para=2&tipoInmueble=6&ciudad=1001
RewriteRule ^lote-venta-majagual$ ./propiedades.php?para=1&tipoInmueble=6&ciudad=1001
RewriteRule ^casa-arriendo-majagual$ ./propiedades.php?para=2&tipoInmueble=2&ciudad=1001
RewriteRule ^casa-venta-majagual$ ./propiedades.php?para=1&tipoInmueble=2&ciudad=1001
RewriteRule ^apartamento-arriendo-majagual$ ./propiedades.php?para=2&tipoInmueble=1&ciudad=1001
RewriteRule ^apartamento-venta-majagual$ ./propiedades.php?para=1&tipoInmueble=1&ciudad=1001
RewriteRule ^finca-arriendo-majagual$ ./propiedades.php?para=2&tipoInmueble=7&ciudad=1001
RewriteRule ^finca-venta-majagual$ ./propiedades.php?para=1&tipoInmueble=7&ciudad=1001
RewriteRule ^arriendos-morroa$ ./propiedades.php?para=2&tipoInmueble=&ciudad=1002
RewriteRule ^ventas-morroa$ ./propiedades.php?para=1&tipoInmueble=&ciudad=1002
RewriteRule ^bodega-arriendo-morroa$ ./propiedades.php?para=2&tipoInmueble=5&ciudad=1002
RewriteRule ^bodega-venta-morroa$ ./propiedades.php?para=1&tipoInmueble=5&ciudad=1002
RewriteRule ^oficina-arriendo-morroa$ ./propiedades.php?para=2&tipoInmueble=4&ciudad=1002
RewriteRule ^oficina-venta-morroa$ ./propiedades.php?para=1&tipoInmueble=4&ciudad=1002
RewriteRule ^consultorio-arriendo-morroa$ ./propiedades.php?para=2&tipoInmueble=8&ciudad=1002
RewriteRule ^consultorio-venta-morroa$ ./propiedades.php?para=1&tipoInmueble=8&ciudad=1002
RewriteRule ^local-arriendo-morroa$ ./propiedades.php?para=2&tipoInmueble=3&ciudad=1002
RewriteRule ^local-venta-morroa$ ./propiedades.php?para=1&tipoInmueble=3&ciudad=1002
RewriteRule ^lote-arriendo-morroa$ ./propiedades.php?para=2&tipoInmueble=6&ciudad=1002
RewriteRule ^lote-venta-morroa$ ./propiedades.php?para=1&tipoInmueble=6&ciudad=1002
RewriteRule ^casa-arriendo-morroa$ ./propiedades.php?para=2&tipoInmueble=2&ciudad=1002
RewriteRule ^casa-venta-morroa$ ./propiedades.php?para=1&tipoInmueble=2&ciudad=1002
RewriteRule ^apartamento-arriendo-morroa$ ./propiedades.php?para=2&tipoInmueble=1&ciudad=1002
RewriteRule ^apartamento-venta-morroa$ ./propiedades.php?para=1&tipoInmueble=1&ciudad=1002
RewriteRule ^finca-arriendo-morroa$ ./propiedades.php?para=2&tipoInmueble=7&ciudad=1002
RewriteRule ^finca-venta-morroa$ ./propiedades.php?para=1&tipoInmueble=7&ciudad=1002
RewriteRule ^arriendos-ovejas$ ./propiedades.php?para=2&tipoInmueble=&ciudad=1003
RewriteRule ^ventas-ovejas$ ./propiedades.php?para=1&tipoInmueble=&ciudad=1003
RewriteRule ^bodega-arriendo-ovejas$ ./propiedades.php?para=2&tipoInmueble=5&ciudad=1003
RewriteRule ^bodega-venta-ovejas$ ./propiedades.php?para=1&tipoInmueble=5&ciudad=1003
RewriteRule ^oficina-arriendo-ovejas$ ./propiedades.php?para=2&tipoInmueble=4&ciudad=1003
RewriteRule ^oficina-venta-ovejas$ ./propiedades.php?para=1&tipoInmueble=4&ciudad=1003
RewriteRule ^consultorio-arriendo-ovejas$ ./propiedades.php?para=2&tipoInmueble=8&ciudad=1003
RewriteRule ^consultorio-venta-ovejas$ ./propiedades.php?para=1&tipoInmueble=8&ciudad=1003
RewriteRule ^local-arriendo-ovejas$ ./propiedades.php?para=2&tipoInmueble=3&ciudad=1003
RewriteRule ^local-venta-ovejas$ ./propiedades.php?para=1&tipoInmueble=3&ciudad=1003
RewriteRule ^lote-arriendo-ovejas$ ./propiedades.php?para=2&tipoInmueble=6&ciudad=1003
RewriteRule ^lote-venta-ovejas$ ./propiedades.php?para=1&tipoInmueble=6&ciudad=1003
RewriteRule ^casa-arriendo-ovejas$ ./propiedades.php?para=2&tipoInmueble=2&ciudad=1003
RewriteRule ^casa-venta-ovejas$ ./propiedades.php?para=1&tipoInmueble=2&ciudad=1003
RewriteRule ^apartamento-arriendo-ovejas$ ./propiedades.php?para=2&tipoInmueble=1&ciudad=1003
RewriteRule ^apartamento-venta-ovejas$ ./propiedades.php?para=1&tipoInmueble=1&ciudad=1003
RewriteRule ^finca-arriendo-ovejas$ ./propiedades.php?para=2&tipoInmueble=7&ciudad=1003
RewriteRule ^finca-venta-ovejas$ ./propiedades.php?para=1&tipoInmueble=7&ciudad=1003
RewriteRule ^arriendos-palmito$ ./propiedades.php?para=2&tipoInmueble=&ciudad=1004
RewriteRule ^ventas-palmito$ ./propiedades.php?para=1&tipoInmueble=&ciudad=1004
RewriteRule ^bodega-arriendo-palmito$ ./propiedades.php?para=2&tipoInmueble=5&ciudad=1004
RewriteRule ^bodega-venta-palmito$ ./propiedades.php?para=1&tipoInmueble=5&ciudad=1004
RewriteRule ^oficina-arriendo-palmito$ ./propiedades.php?para=2&tipoInmueble=4&ciudad=1004
RewriteRule ^oficina-venta-palmito$ ./propiedades.php?para=1&tipoInmueble=4&ciudad=1004
RewriteRule ^consultorio-arriendo-palmito$ ./propiedades.php?para=2&tipoInmueble=8&ciudad=1004
RewriteRule ^consultorio-venta-palmito$ ./propiedades.php?para=1&tipoInmueble=8&ciudad=1004
RewriteRule ^local-arriendo-palmito$ ./propiedades.php?para=2&tipoInmueble=3&ciudad=1004
RewriteRule ^local-venta-palmito$ ./propiedades.php?para=1&tipoInmueble=3&ciudad=1004
RewriteRule ^lote-arriendo-palmito$ ./propiedades.php?para=2&tipoInmueble=6&ciudad=1004
RewriteRule ^lote-venta-palmito$ ./propiedades.php?para=1&tipoInmueble=6&ciudad=1004
RewriteRule ^casa-arriendo-palmito$ ./propiedades.php?para=2&tipoInmueble=2&ciudad=1004
RewriteRule ^casa-venta-palmito$ ./propiedades.php?para=1&tipoInmueble=2&ciudad=1004
RewriteRule ^apartamento-arriendo-palmito$ ./propiedades.php?para=2&tipoInmueble=1&ciudad=1004
RewriteRule ^apartamento-venta-palmito$ ./propiedades.php?para=1&tipoInmueble=1&ciudad=1004
RewriteRule ^finca-arriendo-palmito$ ./propiedades.php?para=2&tipoInmueble=7&ciudad=1004
RewriteRule ^finca-venta-palmito$ ./propiedades.php?para=1&tipoInmueble=7&ciudad=1004
RewriteRule ^arriendos-sampues$ ./propiedades.php?para=2&tipoInmueble=&ciudad=1005